module.exports = {
	token: 'Discord App Token',
	storageLocation: 'path/to/storage/dir',
	adminNames: ['list', 'of', 'admin', 'users'],
	adminChannels: ['admin', 'mode', 'enabled', 'channels'],
	verbosity: 5,
	keptTransactions: 15,
	levelling: 'Levelling mode, so far only DnD5e or none is supported',
	color: 0x00AE86
};
